@inject IConfiguration configuration
@{
    string UrlBucket =
    configuration.GetValue<string>("AWS:S3BucketUrl");
}

@model IEnumerable<MvcConciertosAWS.Models.Evento>

@{
    ViewData["Title"] = "EventosCategorias";
}

<h1>EventosCategorias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artista)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        <img src="@UrlBucket@item.imagen" style="height:150px;width:100px;" />
                        @Html.DisplayFor(modelItem => item.imagen)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>No existen eventos para esta categoria</h1>

}
